@use "../../styles/document-properties";

* {
  color: #e4e4e4;
  display: block;
  width: 100%;
  font-size: 1em;
}

.wrapper{
  position:relative;
}

.data {
  background-color: unset;
  border: unset;
  outline: unset;
  z-index: 5;
  position:relative;

  width:100%;
  // text-wrap-mode: wrap;
  overflow-wrap:break-word;
}

.remove--button {
  position: absolute;
  margin:4px;
  right: 0;
  top: 0;
  background-color:yellow;
  color: red;
  width: fit-content;
  transition: 0.25s;
  z-index: 10;

  &:hover{
    opacity: 1;
  }
}
