.wrapper{
    width:100%;
    justify-content: center;
    align-items: center;
    display:flex;
    background-color: #1a1221;
    min-height: 100vh;
    flex-direction: column;

}

.placeholder{
    color: #e4e4e4;
    width: 50%;
    font-size: 5em;
    font-family:monospace;
    font-weight: 700;
}