:host{
    height:100%;
    display:block;
}


.wrapper{
    max-width:160px;
    height:100%;
    background-color:#4a1d75;
    color:#e4e4e4;
    display:flex;
    flex-direction:column;
    align-items:end;
}

.button{
    width:40px;
    height:40px;
    text-align: center;
}

.new{
    background-color: green;
}

.columns{
    background-color: blue;
}

.list{
    background-color:aqua;
}

.checkbox{
    background-color:chocolate;
}

.box{
    background-color:crimson;
}