@use '../../styles/document-properties';


.columns{
    display:grid;
    grid-template-columns: 1fr 1fr;
    gap: 0 1em ;
    // & > *:nth-child(odd){
    //     border-right: 3px solid #eee;
    // }
}


.box{
    background-color:pink;
}

.empty{
    // background-color:whitesmoke;
    height: 2em;
}